@use '../abstracts/mixins' as mix-ins;

*,
*::before,
*::after  {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture {
  display  : block;
  max-width: 100%;
}

input[type=range] {
  @include mix-ins.clear;
}

input[type=range]::-webkit-slider-thumb {
  @include mix-ins.reset-appearance;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  @include mix-ins.reset-appearance;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior          : auto   !important;
    animation-duration       : 0.01ms !important;
    transition-duration      : 0.01ms !important;
    animation-iteration-count: 1      !important;
  }

  html {
    scroll-behavior: auto;
  }
}
