@mixin grid-center {
  display    : grid;
  place-items: center;
}

@mixin flex-center {
  display    : flex;
  place-items: center;
}

@mixin reset-appearance {
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
}

@mixin clear {
  border       : none;
  outline      : none;
  background   : none;
  border-radius: 0;

  @include reset-appearance;
}
