@mixin grid-center {
  display    : grid;
  place-items: center;
}

@mixin flex-center {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@mixin reset-appearance {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@mixin clear {
  border       : none;
  outline      : none;
  background   : none;
  border-radius: 0;

  @include reset-appearance;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
      -ms-user-select: $value;
          user-select: $value;
}

@mixin overlay($alpha) {
  inset   : 0;
  z-index : 101;
  position: fixed;

  opacity         : $alpha;
  background-color: #000;
}
